{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Tunisia For All</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>
        <header>     
            <img class="logo" src="{% static 'img/navbar_logo.png' %}" alt="logo">
            <nav>
                <ul class ="liens">
                    <li><a href="{% url 'home' %}" class="lneutral">Accueil</a></li>
                    <li><a href="{% url 'gestion_adherent' %}" class="ladherent">Gestion des adhérents</a></li>
                    <li><a href="{% url 'gestion_structure' %}" class="lstructure" >Gestion des structures</a></li>
                    <li><a href="{% url 'gestion_financiere' %}" class="lfinance" >Gestion financière</a></li>
                    {% if request.user.is_authenticated %}
                      
                      {% if request.user.adherent.cotisation_annuelle == 'non payée' %}
                          <li><a href="{% url 'payer_ma_cotisation' %}" class="lfinance" >Payer ma cotisation</a></li>
                      {% endif %}
                      <li><a href="{% url 'profile' %}" class="ladherent"> Profil</a></li>
                    
                    {% endif %}
                </ul>
            </nav>
            {% if request.user.is_authenticated %}
              <li><a class="profile" href="{% url 'logout' %}" ><button>Se déconnecter</button></a></li>
            {% else %}
              <li><a class="profile" href="{% url 'login' %}" ><button>Se connecter</button></a></li>
            {% endif %}
           
        </header>
        <script src="" async defer></script>
    </body>
</html>