{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Tunisia For All</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>
        <header>     
            <img class="logo" src="{% static 'img/navbar_logo.png' %}" alt="logo">
            <nav>
                <ul class ="liens">
                    {% if request.user.is_authenticated %}
                        {% if request.user.adherent.responsabilité_adhérent == 'Membre Simple ' %}
                            <li><a href="{% url 'liste_adherent' %}" class="ladherent">Liste des adhérents</a></li>
                            <li><a href="{% url 'liste_structure' %}" class="lstructure">Liste des structures</a></li>
                            <li><a href="{% url 'profile' %}" class="lprofile">Profil</a></li>
                        {% elif request.user.adherent.responsabilité_adhérent == 'Président' or request.user.adherent.responsabilité_adhérent == 'Vice Président' or request.user.adherent.responsabilité_adhérent == 'Chef Projet' %}
                         {% if request.user.adherent.structure.code_structure == 'BN-1169' %}
                            <li><a href="{% url 'liste_adherent_tb' %}" class="ladherent">Liste des adhérents</a></li>
                            <li><a href="{% url 'liste_structure_tb' %}" class="lstructure">Liste des structures</a></li>
                            <li><a href="{% url 'liste_transactions_tb' %}" class="lfinance">Liste des transactions</a></li>
                         {% else %}  
                            <li><a href="{% url 'liste_adherent_pr' %}" class="ladherent">Liste des adhérents</a></li>
                            <li><a href="{% url 'liste_structure_pr' %}" class="lstructure">Liste des structures</a></li>
                            <li><a href="{% url 'liste_transactions_pr' %}" class="lfinance">Liste des transactions</a></li>
                         {% endif %}   

                            <li><a href="{% url 'profile' %}" class="lprofile">Profil</a></li>

                        {% elif request.user.adherent.responsabilité_adhérent == 'Trésorier' %}
                            <li><a href="{% url 'liste_adherent' %}" class="ladherent">Liste des adhérents</a></li>
                            <li><a href="{% url 'liste_structure' %}" class="lstructure">Liste des structures</a></li>
                            <li><a href="{% url 'gestion_financiere' %}" class="lfinance">Gestion financière</a></li>
                        {% elif request.user.adherent.responsabilité_adhérent == 'Directeur Executif' %}
                            {% if request.user.adherent.structure.code_structure == 'BN-1169' %}
                                <li><a href="{% url 'gestion_adherent' %}" class="ladherent">Gestion des adhérents</a></li>
                                <li><a href="{% url 'gestion_structure' %}" class="lstructure">Gestion des structures</a></li>
                                <li><a href="{% url 'liste_transactions' %}" class="lfinance">Liste des transactions</a></li>
                            {% else %}
                                <li><a href="{% url 'gestion_adherent' %}" class="ladherent">Gestion des adhérents</a></li>
                                <li><a href="{% url 'liste_structure' %}" class="lstructure">Liste des structures</a></li>
                                <li><a href="{% url 'liste_transactions' %}" class="lfinance">Liste des transactions</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
                
                
            </nav>
            {% if request.user.is_authenticated %}
              <li><a class="login" href="{% url 'logout' %}" ><button>Se déconnecter</button></a></li>
            
            {% endif %}
           
        </header>
        <script src="" async defer></script>
    </body>
</html>