{% extends 'main.html' %}

{% block content %}
<h2>Historique des adhérents</h2>
<hr class="hradherent">
<div class="adherent-history">
    <table>
        <thead>
            <tr>
                <th>Adhérent</th>
                <th>Action</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Dernières Modifications</th>
                
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.adherent }}</td>
                    <td>{{ entry.action }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.timestamp|date:"d-m-Y H:i:s" }}</td>
                    <td>{{ entry.changes|default:'---' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
