{% extends 'main.html' %}


{% block content %}
<!-- banque_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Création/Ajout de transaction de banque</title>
</head>
<body>
    <h2>Création/Ajout de transaction de banque</h2>
    <hr class="hrfinance">

    <form class ="finance-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class= "finance-button" type="submit">Soumettre</button>
    </form>
</body>
</html>

{% endblock %}