{% extends 'main.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="profile-picture">
            <img src="{{ adherent.photo_de_profile.url }}" alt="Profile Picture" class="profile-image">
        </div>
        <div class="row">
            <div class="info-box">
                <p><strong>Nom:</strong> {{ adherent.nom }} {{ adherent.prénom }}</p>
            </div>
            <div class="info-box">
                <p><strong>Type:</strong> {{ adherent.get_type_adhérent_display }}</p>
            </div>
            <div class="info-box">
                <p><strong>Telephone:</strong> {{ adherent.numéro_de_téléphone }}</p>
            </div>
            <div class="info-box">
                <p><strong>Email:</strong> {{ adherent.adresse_email }}</p>
            </div>
            <div class="info-box">
                <p><strong>Profession:</strong> {{ adherent.profession }}</p>
            </div>
            <div class="info-box">
                <p><strong>Date d'adhésion</strong> {{ adherent.date_adhésion|date:"d-m-Y" }}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="info-box">
                <p><strong>Code:</strong> {{ adherent.code }}</p>
            </div>
            <div class="info-box">
                <p><strong>Structure:</strong> {{ adherent.structure }}</p>
            </div>
            <div class="info-box">
                <p><strong>Commission:</strong> {{ adherent.commissions }}</p>
            </div>
            <div class="info-box">
                <p><strong>Type de document d'identité:</strong> {{ adherent.get_type_document_identité_display }}</p>
            </div>
            <div class="info-box">
                <p><strong>Numero de document d'identité:</strong> {{ adherent.numero_document_identité }}</p>
            </div>
            
        </div>
        <div class="row">
            <div class="info-box">
                <p><strong>Genre:</strong> {{ adherent.get_genre_display }}</p>
            </div>
            <div class="info-box">
                <p><strong>Nationalité:</strong> {{ adherent.nationalité }}</p>
            </div>
            <div class="info-box">
                <p><strong>Date de naissance:</strong> {{ adherent.date_de_naissance|date:"d-m-Y" }}</p>
            </div>
            <div class="info-box">
                <p><strong>Lieu de naissance:</strong> {{ adherent.lieu_de_naissance }}</p>
            </div>
            <div class="info-box">
                <p><strong>Responsabilité:</strong> {{ adherent.responsabilité_adhérent}}</p>
            </div>
            <div class="info-box">
                {% if adherent.cotisation_annuelle == 'payée' %}
                <div style="margin-bottom: 5px;">
                    <strong>Cotisation annuelle :</strong> <span style="color: rgb(64, 162, 64);">payée</span>
                </div>
                {% elif adherent.cotisation_annuelle == 'non payée' %}
                <div style="margin-bottom: 5px;">
                    <strong>Cotisation annuelle :</strong> <span style="color: rgb(167, 40, 40);">non payée</span>
                </div>
                {% endif %}
                <div>
                    <strong>Dernière date de payement:</strong> <span>{{ adherent.dernière_date_de_payement|date:"d-m-Y"}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>  
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const profileImage = document.querySelector('.profile-image');

            profileImage.addEventListener('click', function() {
                const zoomOverlay = document.createElement('div');
                zoomOverlay.classList.add('zoom-overlay');

                const zoomedImage = document.createElement('img');
                zoomedImage.src = profileImage.src;

                zoomOverlay.appendChild(zoomedImage);
                document.body.appendChild(zoomOverlay);

                setTimeout(function() {
                    zoomOverlay.classList.add('show');
                    document.body.style.overflow = 'hidden';
                }, 10);

                zoomOverlay.addEventListener('click', function() {
                    zoomOverlay.classList.remove('show');

                    setTimeout(function() {
                        document.body.removeChild(zoomOverlay);
                        document.body.style.overflow = 'auto';
                    }, 300);
                });
            });
        });
    </script>
</body>
</html>




{% endblock %}