{% extends 'main.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
</head>
<body>
    <br>
    <div class="container">
        
        <div class="row">
            <div class="info-box">
                <p><strong>Structure:</strong> {{ transaction.structure|default:'---'}} </p>
            </div>
            <div class="info-box">
                <p><strong>Numéro du recu:</strong> {{ transaction.recu_numéro}}</p>
            </div>
            <div class="info-box">
                
                <p><strong>Libellé:</strong> {{ transaction.libellé }}</p>
            </div>
            <div class="info-box">
                
                <p><strong>Type de transaction:</strong> {{ transaction.type_de_transaction}}</p>
            </div>
            
        </div>
        <div class="row">
            <div class="info-box">
                <p><strong>Adhérent:</strong> {{ transaction.adhérent|default:'---' }}</p>                
            </div>
            <div class="info-box">
                <p><strong>Banque:</strong> {{ transaction.banque }}</p>
            </div>
            <div class="info-box">
                <p><strong>Entreprise:</strong> {{ transaction.entreprise }}</p>
            </div>
            <div class="justificatif">
                <h3 class="justificatif-title">Justificatif de transaction</h3>
                <img src="{{ transaction.justificatif_caisse.url }}" alt="Justificatif de transaction" class="justificatif-image">
            </div>
        </div>
        
        <div class="row">
            <div class="info-box">
                
                <p><strong>Evenement:</strong> {{ transaction.évènement|default:'---' }}</p>
            </div>
            <div class="info-box">
                <p><strong>Date:</strong> {{ transaction.date }}</p>
            </div>
            <div class="info-box">
                <p><strong>Solde:</strong> {{ transaction.solde }}</p>
            </div>
            <div class="info-box">
                <p><strong>Raison de transaction</strong> {{ transaction.raison_de_transaction }}</p>
            </div>
        </div>
        
    </div>
    <script>
       document.addEventListener('DOMContentLoaded', function() {
  const justificatifImage = document.querySelector('.justificatif img');
  
  justificatifImage.addEventListener('click', function() {
    const zoomOverlay = document.createElement('div');
    zoomOverlay.classList.add('zoom-overlay');
    
    const zoomedImage = document.createElement('img');
    zoomedImage.src = justificatifImage.src;
    
    zoomOverlay.appendChild(zoomedImage);
    document.body.appendChild(zoomOverlay);
    
    zoomOverlay.addEventListener('click', function() {
      document.body.removeChild(zoomOverlay);
    });
  });
});


    </script>
</body>
</html>




{% endblock %}