{% extends 'main.html' %}
{% load static %}


{% block content %}
<div>
  <h2>Gestion des adhérents</h2>
  <hr>
</div>

<div class = "features">
  <button><a class="adherent-button" href="{% url 'create-adherent'  %}">Ajouter Adhérent</a></button>
  <button><a class="adherent-button" href="{% url 'adherent_history' %}">Historique</a></button>
</div>

<div class = page-content>
  <div class = "search-container" method="GET" action="{% url 'gestion_adherent' %}">
      <input  type="text" class= "textbox" name ="q" placeholder="Chercher...">
      <button type="submit"><i class="search-button"> <img src="{% static 'img/search.png' %}"> </i></button>
  </div>

  <div class = "print">
      <img src="{% static 'img/print.png' %}" height="40px" width="40px" href="#">
  </div>

  <div class="adherent-table">
      <table>
          <thead>
              <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Document d'identité</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for adherent in adherents %}
                <tr>
                  <td><strong>{{ adherent.code }}</strong></td>
                  <td>{{ adherent.nom }}</td>
                  <td>{{ adherent.prenom}}</td>
                  <td>{{ adherent.genre}}</td>
                  <td>{{ adherent.email}}</td>
                  <td>{{ adherent.telephone}}</td>
                  <td>{{ adherent.type_document_identite }} : {{ adherent.numero_document_identite }} </td>
                  <td>{{ adherent.type_adherent }}</td>
                  <td>
                  <button><a href="{% url 'update-adherent' adherent.id %}">Update</a></button>
                  <button><a href="{% url 'delete-adherent' adherent.id %}">Delete</a></button>
                  <button><a href="">Consult</a></button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
      </table>
  </div>
</div>
{% endblock %}