<!-- gestion_financiere.html -->
{% extends 'main.html' %}
{% load static %}

{% load transaction_filters %}  <!-- Load custom filters -->

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Gestion Financiere</title>
</head>
<body>
    <h2>Gestion Financière</h2> 
    <hr class="hrfinance">

    <div class = "features">
        <button class="finance-button"><a  href="{% url 'create-banque-transaction' %}">Ajouter Transaction Banque</a></button>
        <button class="finance-button"><a href="{% url 'create-caisse-transaction' %}">Ajouter Transaction Caisse</a></button>
    </div>

    <div class = page-content>
        <div class = "search-container" method="GET" action="{% url 'gestion_financiere' %}">
            <input  type="text" class= "textbox" name="q" placeholder="Chercher...">
            <button type="submit" class="finance-button" ><i> <img src="{% static 'img/search.png' %}"> </i></button>
            <img class = "print" src="{% static 'img/print.png' %}" height="40px" width="40px" href="#">
    </div>

    <div class = "finance-table">
    
        <table>
            <thead>
                <tr>
                    <th>Adherent</th>
                    <th>Structure</th>
                    <th>Evenement</th>
                    <th>Date</th>
                    <th>Source du transaction</th>
                    <th>Type du transaction</th>
                    <th>Raison transaction</th>
                    <th>Solde</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.adhérent }}</td>
                    <td>{{ transaction.structure }}</td>
                    <td>{{ transaction.évènement }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.type_transaction }}</td> 
                    <td>{{ transaction.type_de_transaction}}</td>
                    <td>{{ transaction.raison_de_transaction }}</td>
                    <td>{{ transaction.solde }}</td>
                    <td>
                        {% if transaction|is_banque_transaction %}
                            <button class="finance-button" ><a href="{% url 'update-banque-transaction' transaction.id %}" class="btn-update">Mettre à jour</a></button>
                        {% else %}
                            <button class="finance-button" ><a href="{% url 'update-caisse-transaction' transaction.id %}" class="btn-update">Mettre à jour</a></button>
                        {% endif %}
                        {% if transaction|is_banque_transaction %}
                            <button class="finance-button" ><a href="{% url 'delete-banque-transaction' transaction.id %}">Supprimer</a></button>
                        {% else %}
                            <button class="finance-button" ><a href="{% url 'delete-caisse-transaction' transaction.id %}">Supprimer</a></button>
                        {% endif %}
                        <button class="finance-button" ><a href="">Consulter</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
