{% extends 'main.html' %}
{% load static %}

{% block content %}
<div>

  <div>
    <h2>Gestion des structures</h2>
    <hr>
</div>

<div class = "features">
    <button><a class="structure-button" href="{% url 'create-structure' %}">Ajouter Structure</a></button>
    <button><a class="structure-button" href="{% url 'structure_history' %}">Historique</a></button>
</div>

<div class = page-content>
    <div class = "search-container" method="GET" action="{% url 'gestion_adherent' %}">
        <input  type="text" class= "textbox" name="q" placeholder="Chercher...">
        <button type="submit"><i class="search-button"> <img src="{% static 'img/search.png' %}"> </i></button>
</div>

    <div class = "print">
        <img src="{% static 'img/print.png' %}" height="40px" width="40px" href="#">
    </div>

    <div class="structure-table">
        <table>
            <thead>
            <tr>
            <th>Code</th>
            <th>Type</th>
            <th>Libéllé</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Date AG</th>
            <th>Action</th>
            </tr>
        </thead>
            {% for structure in structures %}
                <tr>
                <td><strong>{{ structure.code_structure }}</strong></td>
                <td>{{ structure.type }}</td>
                <td>{{ structure.libelle }}</td>
                <td>{{ structure.telephone }}</td>
                <td>{{ structure.email }}</td>
                <td>{{ structure.date_creation }}</td>
                <td>{{ structure.date_ag }}</td>
                <td>
                    <button><a href="{% url 'update-structure' structure.id %}">Update</a></button>
                    <button><a href="{% url 'delete-structure' structure.id %}">Delete</a></button>
                    <button><a href="">Consult</a></button>
                </td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
</div>
</div>
{% endblock %}