{% load static %}
{% block head %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("{% static 'img/background.jpg' %}");
            background-color: #f5f5f5;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-container {
            width: 100%;
            max-width: 400px;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .login-logo {
            display: block;
            width: 100px;
            margin: 0 auto 30px;
        }
        .login-form {
            display: flex;
            flex-direction: column;
        }
        .login-form label {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .login-form input {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
        }
        .error-message {
            color: red;
            margin-bottom: 20px;
        }
        .login-button {
            background-color: #73B43D;
            color: #ffffff;
            font-weight: bold;
            padding: 10px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .login-button:hover {
            background-color: #36A2EB;
        }
    </style>
{% endblock head %}

{% block content %}
<div class="login-container">
    <img class="login-logo" src="{% static 'img/navbar_logo.png' %}" alt="logo">
    <form method="POST" action="" class="login-form">
        {% csrf_token %}
        <label>Pseudo</label>
        <input type="text" name="username" placeholder="Saisir le pseudo" class="form-control"/>

        <label>Mot de passe</label>
        <input type="password" name="password" placeholder="Saisir le mot de passe" class="form-control"/>
        {% if messages %}
        <div class="error-message">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <button class="login-button" type="submit">Connexion</button>
    </form>
</div>
{% endblock content %}
