{% extends 'main.html' %}


{% block content %}
    
        <h2>Page d'accueil</h2>
        <hr class="hrneutral">
        <div class = intro>
            <span>Tunisia For All est une association qui a pour mission de permettre à chaque tunisien de vivre avec dignité et respect de ses droits fondamentaux. <br> Elle a pour objet de :</span>
            <p>
                • Promouvoir le concept de société citoyenne et diffuser les bonnes pratiques en matière d'Investissement Socialement Responsable (ISR) et de citoyenneté de l'entreprise <br>
                • Promouvoir et valoriser le bénévolat auprès du grand public, les services communautaires auprès des institutions et des milieux professionnels <br>
                • Offrir un appui technique et financier au tissu associatif tunisien engagé dans des actions sociales de soutien aux populations des régions marginalisées <br>
                • Faciliter l'accès à l'information ayant trait aux opportunités d'investissements, de financements et aux bonnes pratiques en matière de développement communautaire.</p>
        <script src="" async defer></script>
        </div>
    


{% endblock  %}