{% extends 'main.html' %}
{% load static %}

{% block content %}
<div>

  <div>
    <h2>Liste des structures</h2>
    <hr class="hrstructure">
  </div>

  <div class="features">
    
    <button class="structure-button"><a href="{% url 'structure_history' %}">Historique</a></button>
    <button id="export-button" class="structure-button"><a href="{% url 'export-structures-csv' %}">Exporter en CSV</a></button>
  </div>

  <div class="page-content">
    <form id="search-form" class="search-container" action="{% url 'gestion_structure' %}">
      <input type="text" class="textbox" id="search-input" name="q" placeholder="Chercher...">
      <button type="submit" class="structure-button"><i><img src="{% static 'img/search.png' %}"></i></button>
      <img class="print" src="{% static 'img/print.png' %}" height="40px" width="40px" onclick="printTable()">
    </form>

    <div class="structure-table">
      <table>
        <thead>
          <tr>
            <th>Code</th>
            
            <th>Libéllé</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Date AG</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for structure in structures %}
          <tr>
            <td><strong>{{ structure.code_structure }}</strong></td>
            
            <td>{{ structure.libellé }}</td>
            <td>{{ structure.numéro_de_téléphone }}</td>
            <td>{{ structure.adresse_email }}</td>
            <td>{{ structure.date_de_création|date:"d-m-Y" }}</td>
            <td>{{ structure.date_AG|date:"d-m-Y" }}</td>
            <td>
              
              <button class="structure-button"><a href="{% url 'consult_structure' structure.id %}">Consulter</a></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="page-number-display" class="page-number-display"></div>
    <div id="pagination-container">
      <button id="prev-button" class="structure-button" style="margin-right:10px;">Précédent</button>
      <div id="page-numbers-container" style="margin-bottom:1.5px;"></div>
      <button id="next-button" class="structure-button">Suivant</button>
    </div>
    </div>
  </div>

  <script>
    function printTable() {
    const navbar = document.querySelector('header');
    navbar.style.display = 'none'; // Hide the navigation bar

    const searchForm = document.getElementById('search-form');
    searchForm.style.display = 'none'; // Hide the search form

    const printButton = document.querySelector('.print');
    printButton.style.display = 'none'; // Hide the print button

    const buttons = document.querySelectorAll('.structure-button');
    buttons.forEach(function(button) {
      button.style.display = 'none'; // Hide all the buttons
    });

    const table = document.querySelector('.structure-table');
    const actionHeader = table.querySelector('th:nth-child(8)');
    actionHeader.style.display = 'none'; // Hide the "Action" table header

    window.print(); // Print the page

    navbar.style.display = ''; // Restore the navigation bar's display
    searchForm.style.display = ''; // Restore the search form's display
    printButton.style.display = ''; // Restore the print button's display

    buttons.forEach(function(button) {
      button.style.display = ''; // Restore the display of the buttons
    });

    actionHeader.style.display = ''; // Restore the "Action" table header's display
  }
document.getElementById('search-form').addEventListener('submit', function(e) {
      e.preventDefault();
      const searchInput = document.getElementById('search-input').value.toLowerCase();
      const tableRows = document.querySelectorAll('.structure-table tbody tr');

      for (let i = 0; i < tableRows.length; i++) {
        const row = tableRows[i];
        const rowData = row.textContent.toLowerCase();

        if (rowData.includes(searchInput)) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      }
    });
    // Define variables
  const tableRows = document.querySelectorAll('.structure-table tbody tr');
  const numRows = tableRows.length;
  const rowsPerPage = 5;
  let currentPage = 1;
  const totalPages = Math.ceil(numRows / rowsPerPage);

  // Function to show the specified page
  function showPage(page) {
    const startIndex = (page - 1) * rowsPerPage;
    const endIndex = startIndex + rowsPerPage;

    tableRows.forEach(function (row, index) {
      if (index >= startIndex && index < endIndex) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });
    updatePaginationButtons();
    updatePageNumberDisplay();

  }

  // Function to generate the page numbers and update the UI
  function generatePageNumbers() {
    const pageNumbersContainer = document.getElementById('page-numbers-container');
    pageNumbersContainer.innerHTML = ''; // Clear existing page numbers

    for (let i = 1; i <= totalPages; i++) {
      const pageNumber = document.createElement('button');
      pageNumber.textContent = i;
      pageNumber.classList.add('page-number');
      if (i === currentPage) {
        pageNumber.classList.add('current-page');
        pageNumber.disabled = true;
      } else {
        pageNumber.addEventListener('click', function () {
          currentPage = i;
          showPage(currentPage);
          generatePageNumbers();
          updatePaginationButtons();
        });
      }
      pageNumbersContainer.appendChild(pageNumber);
    }
  }

  // Function to update the state of the pagination buttons
  function updatePaginationButtons() {
  const prevButton = document.getElementById('prev-button');
  const nextButton = document.getElementById('next-button');

  if (currentPage === 1) {
    prevButton.disabled = true;
  } else {
    prevButton.disabled = false;
  }

  if (currentPage === totalPages) {
    nextButton.disabled = true;
  } else {
    nextButton.disabled = false;
  }

  const pageNumberDisplay = document.getElementById('page-number-display');
  pageNumberDisplay.textContent = currentPage;
}

// Function to update the display of the current page number
function updatePageNumberDisplay() {
  const pageNumberDisplay = document.getElementById('page-number-display');
  pageNumberDisplay.textContent = currentPage;
}

// Function to handle "Précédent" button click
function goToPrevPage() {
  if (currentPage > 1) {
    currentPage--;
    showPage(currentPage);
    generatePageNumbers();
    updatePageNumberDisplay();
    updatePaginationButtons();
  }
}

// Function to handle "Suivant" button click
function goToNextPage() {
  if (currentPage < totalPages) {
    currentPage++;
    showPage(currentPage);
    generatePageNumbers();
    updatePageNumberDisplay();
    updatePaginationButtons();
  }
}

// Attach event listeners to the pagination buttons
document.getElementById('prev-button').addEventListener('click', goToPrevPage);
document.getElementById('next-button').addEventListener('click', goToNextPage);

// Show the initial page and generate the page numbers
showPage(currentPage);
generatePageNumbers();
updatePageNumberDisplay();
updatePaginationButtons();
  </script>
</div>
{% endblock %}
