

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock head %}


{% block content %}
<div style="margin-top: 30px;">
    <img class="inpage-logo" src="{% static 'img/navbar_logo.png' %}" alt="logo" >
</div>
<div class = "login">
    <form method="POST" action=""  class="login-form">
        {% csrf_token %}
        <label>Pseudo</label>
        <input type="text" name="username" placeholder="Saisir le pseudo" class="form-control"/> 

        <label>Mot de passe</label>
        <input type="password" name="password" placeholder="Saisir le mot de passe" class="form-control "/>
        {% if messages %}
          <div class="error-message">
             {% for message in messages %}
                {{ message }}
             {% endfor %}
          </div>
          {% endif %} 
        <button class = "adherent-button" type="submit" class="btn btn-primary"> Connexion </button>


    </form>
</div>
{% endblock content %}