{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h2>Profile</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="info-box">
                <p><strong>Name:</strong> {{ adherent.nom }} {{ adherent.prenom }}</p>
            </div>
            <div class="info-box">
                <p><strong>Type:</strong> {{ adherent.get_type_adherent_display }}</p>
            </div>
            <div class="info-box">
                <p><strong>Gender:</strong> {{ adherent.get_genre_display }}</p>
            </div>
        </div>
        <div class="row">
            <div class="info-box">
                <p><strong>Code:</strong> {{ adherent.code }}</p>
            </div>
            <div class="info-box">
                <p><strong>Structure:</strong> {{ adherent.structure }}</p>
            </div>
            <div class="info-box">
                <p><strong>Document ID Type:</strong> {{ adherent.get_numero_document_identite_display }}</p>
            </div>
        </div>
        <div class="row">
            <div class="info-box">
                <p><strong>Nationality:</strong> {{ adherent.nationalite }}</p>
            </div>
            <div class="info-box">
                <p><strong>Date of Birth:</strong> {{ adherent.date_naissance }}</p>
            </div>
            <div class="info-box">
                <p><strong>Place of Birth:</strong> {{ adherent.lieu_naissance }}</p>
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}