{% extends 'main.html' %}

{% block content %}
<h1>Structure History</h1>
    <table>
        <thead>
            <tr>
                <th>Structure</th>
                <th>Action</th>
                <th>User</th>
                <th>Timestamp</th>
                <th>Old Data</th>
                <th>New Data</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.structure }}</td>
                    <td>{{ entry.action }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.old_data }}</td>
                    <td>{{ entry.new_data }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
