{% extends 'main.html' %}

{% block content %}
<h2>Historique des structures</h2>
<hr class="hrstructure">
<div class="structure-history">
    <table>
        <thead>
            <tr>
                <th>Structure</th>
                <th>Action</th>
                <th>Pseudo</th>
                <th>Date</th>
                <th>changements</th>
                
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.structure }}</td>
                    <td>{{ entry.action }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.timestamp }}</td>
                    <td>{{ entry.changes}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
