{% extends 'main.html' %}

{% block content %}

<div>
    <h2>Formulaire de données d'une structure</h2>
    <hr class="hrstructure">
    <form class ="structure-form" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const gouvernoratDropdown = document.getElementById('id_gouvernorat');
                const delegationDropdown = document.getElementById('id_délégation');
                const delegationUrl = "{% url 'fetch_delegations' %}";
        
                gouvernoratDropdown.addEventListener('change', () => {
                    const gouvernoratId = gouvernoratDropdown.value;
        
                    fetch(`${delegationUrl}?gouvernorat_id=${gouvernoratId}`)
                        .then(response => response.json())
                        .then(data => {
                            delegationDropdown.innerHTML = ''; // Clear previous options
                            
                            // Add new options based on fetched data
                            data.forEach(option => {
                                const optionElement = document.createElement('option');
                                optionElement.value = option.id;
                                optionElement.text = option.name;
                                delegationDropdown.appendChild(optionElement);
                            });
                        });
                });
            });
        </script>

        <button class= "structure-button" type="submit">Soumettre</button>
    </form>
</div>

{% endblock content %}
